@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // position: relative;
  // font-family: 'Poppins', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.banner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  // background: #3475ca;
  justify-content: center;
  align-items: center;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // opacity: 0.25;
  opacity: 0.85;
}

.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
}

.banner .content h2 {
  position: relative;
  color: #fff;
  font-size: 80px;
  bottom: 74px;

}

.banner .content p {
  position: relative;
  color: #fff;
  font-size: 20px;
  bottom: 95px;
}

.about {
  display: flex;
  position: relative;
  width: 100%;
}

.about .contentBx {
  background: #162c3b;
  padding: 100px;
  width: 50%;
}

.about .imgBx {
  background: url(loco.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
}

.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.services {
  // background-position: #12222d;
  background: #F5F8FD;
  padding: 100px;
  text-align: center;
}

.services .heading {
  color: black;
}

.services .text {
  color: black;
}

.services .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.services .container .serviceBx {
  display: initial;
  position: relative;
  background: #fff;
  width: 325px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  border-radius: 9px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
}

.services .container .serviceBx:hover {
  transform: scale(1.1);
}

.services .container .serviceBx img{
  max-width: 100px;
}

.services .container .serviceBx .imgTag{
  // display: inline-block;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.services .container .serviceBx h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}

.services .container .serviceBx p {
  color: black;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.technology {
  display: flex;
  background: #3f8ffc;
  width: 100%;
  padding: 100px;
  padding-top: 300px;
  margin-top: -300px;
  justify-content: space-between;
  align-items: center;
}

.technology .contentBx {
  max-width: 800px;
}

.technology .imgBx {
  max-width: 400px;
}

// .technology .imgBx img {
//   max-width: 100%;
// }

.client {
  background: #162c3b;
  padding: 100px;
  text-align: center;
}

.client .imgBx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.client .imgBx img {
  max-width: 200px;
  margin: 20px;
  opacity: 0.25;
  cursor: pointer;
}

.client .imgBx img:hover {
  opacity: 1;
}

.testimonials {
  position: relative;
  padding: 100px;
  background: #12222d;
  text-align: center;
}

.testimonials .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.testimonials .container .contentBx {
  display: flex;
  background: #fff;
  padding: 60px 50px;
  width: 550px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonials .container .contentBx p {
  font-style: italic;
}

.testimonials .container .contentBx h3 {
  width: 100%;
  text-align: end;
  font-weight: 500;
  color: #3f8ffc;
}

.contact {
  padding: 100px;
  background: #162c3b;
  text-align: center;
}

.imgBx2 {
  background: url(bg2.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}

.redbg {
  background: url(red.jpg) !important;
  background-size: cover;
  background-position: center;
}

.form .inputBx {
  margin-bottom: 40px;
}

.form .inputBx input {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.form .inputBx input::placeholder {
  color: #fff;
}

.form .inputBx textarea {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  min-height: 150px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.form .inputBx textarea::placeholder {
  color: #fff;
}

.form .inputBx input[type="submit"] {
  width: 150px;
  background: #fff;
  color: #111;
  cursor: pointer;
  font-weight: 400px;
  border-radius: 5px;
}

.footer {
  background: #162c3b;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.footer ul li a img {
  filter: invert(1);
  max-width: 20px;
}

.footer ul li a i {
  color: #fff;
}

@media (max-width: 991px) {
  .text-white {
    font-size: 13px;
  }
  .banner {
    padding: 50px;
  }
  .banner header {
    padding: 20px 50px;
  }
  .banner .content h2 {
    font-size: 36px;
    bottom: 120px;
  }
  .banner .content p {
    font-size: 16px;
  }
  .about {
    flex-direction: column;
  }
  .about .contentBx,
  .about .imgBx {
    width: 100%;
    padding: 50px;
    min-height: 400px;
    text-align: center;
  }
  .services {
    padding: 50px;
  }
  .services .container {
    justify-content: center;
    margin-top: 20px;
  }
  .services .container .serviceBx {
    margin: 20px;
    width: 300px;
    height: 350px;
  }
  .technology {
    padding: 50px;
    padding-top: 300px;
    justify-content: center;
    flex-direction: column;
  }
  .technology .imgBx {
    margin-top: 40px;
    max-width: 250px;
  }
  .client {
    padding: 50px;
  }
  .client .imgBx {
    justify-content: center;
  }
  .testimonials {
    padding: 50px;
  }
  .testimonials .contentBx {
    padding: 60px 40px;
    max-width: 550px;
    margin-bottom: 40px;
  }
  .testimonials .contentBx:last-child {
    margin-bottom: 0px;
  }
  .contact {
    padding: 50px;
  }
  .footer {
    padding: 20px 50px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer ul {
    margin-bottom: 20px;
  }
}

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #fafafa;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #262627;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #fff;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
  font-size: 18px;
}
